.btn {
    display: flex;
    align-items: center;
    cursor: pointer;
    border: none;
    border-radius: 8px;
}

.btn[data-size="small"][data-type="icon"] {
    height: 38px;
    width: 38px;
    padding: 10px;
}

.btn[data-size="small"] {
    padding: 10px 18px 10px 18px;
    height: 40px;
}

.btn[data-size="md"] {
    padding: 14px 24px 14px 24px;
    height: 52px;
}

.btn[variant="primary"] {
    background-color: var(--color-Accent-Primary);

    &:hover {
        background-color: var(--color-Accent-Strong);
    }

    &:active {
        background-color: var(--color-Accent-Strong-Down);
    }
}