html {
    display: flex;
    justify-content: center;
}

#root {
    display: flex;
    max-width: 1920px;
    background-color: black;
    background-image: url("/icons/Vector.png");
    background-repeat: no-repeat;
    background-size: 1920px 902px;
}

.App {
    display: flex;
    flex-direction: column;
    gap: 120px;
}

.app-conteiner {
    display: flex;
    flex-direction: column;
    gap: var(--spacer-lvl-8);
}